# Node modules
/frontend/node_modules/
/frontend/build/

/frontend/.env

# Python virtualenv
/backend/venv/

/backend/__pycache__/
/backend/*.pyc

# Django stuff
/backend/db.sqlite3
/backend/.env

# OS-specific
.DS_Store
Thumbs.db
